@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(stressed_linen/stressed_linen.png);
	line-height: 1.4em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
	margin: 10px -8px 0px 0px;
	height:300px;
	text-align: center;
	padding: 0px;
	color: #fff4cc;
	text-shadow: 1px 1px 2px #424242;
	font-size: 32px;
	text-indent: -9000px;
	background-image: url(aimandexplode.jpg);
	width: 802px;
}

h2 {
	margin: 10px;
	padding: 5px;
	color: #b0ae8d;
	text-align: center;
}

p {
	
}

img {
	width: 400px;
	height: auto;
}

#buttons {
	padding: 10px 30px 10px 10px;
	float: right;
}

#buttons img {
	width: 65px;
	height: auto;
}

#contact1 {
	float: right;
	margin: 10px 145px 10px 10px;
	width: 300px;
}

#contact1 h1 {
	color: #000;
	text-shadow: 1px 1px 2px #424242;
	font-size: 36px;
	text-indent: 0px;
	margin: 20px 0px -270px -250px;
	background-image: none;
}

#contact2 {
	float: left;
	width: 350px;
	background-image: url(shattered.gif);
	margin: 0px 30px 30px 30px;
	padding-right: 15px;
	color: #fff;
}

#contact2 ul {
	list-style-type: none;
}

#map img {
	float: right;
	margin-right: 20px;
	width: 350px;
	height: auto;
}

#form {
	float: left;
	margin: 10px 10px 30px 30px;
}

.container {
	background-color: #fffbea;
	margin: 0 auto;
	width: 802px;
	
}

#content {
	background-color: #fffbea;
}

.content {
	padding: 10px;
}

a {
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #e3e6cb;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #f5e5e5;
}

a:active {
	font-weight: bold;
	text-decoration: none;
	background-color: #571d1b;
	color: #f5e5e5;
}

.navigation {
	background-image: url(navbg.gif);
	margin: 0 auto;
	padding: 1px;
	width: 800px;
	height: 50px;
}

#nav1 li {
	display: inline;
	padding: 5px;	
}

#nav1 a {
	font-size: 18px;
	padding-left: 40px;
	padding-right: 45px;
}

#nav1 a:hover {
  text-decoration: none;
  cursor: crosshair; 
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

@media (max-width: 320px) {
	.container {
		width: 100%;
		margin: 0;
	}
	
	h1 {
		width: 100%;
		background-image: url(bgmobile.jpg);
	}
	
	.navigation {
	background-image: url(navbgmobile.gif);
	margin: 0 auto;
	padding: 1px 1px 20px 1px;
	width: 100%;
	height: 100px;
    }
	
	#nav1 a {
	font-size: 20px;
	padding-left: 50px;
	padding-right: 45px;
	margin-bottom: 40px;
    }
	
	#content {
	width: 100%;
    }
	
	img {
	width: 100%;
	height: auto;
    }
	
	#buttons img {
	width: 50px;
	margin-right: 5px;
	height: auto;
    }
	
    #contact1 {
	float: left;
	margin: 10px 10px 10px 10px;
	width: 100%;
    }

    #contact1 h1 {
	color: #000;
	text-shadow: 1px 1px 2px #424242;
	font-size: 36px;
	text-indent: 0px;
	margin: 0px 10px -280px 0px;
	background-image: none;
    }
	
	#contact2 {
	float: left;
	width: 220px;
	background-image: url(shattered.gif);
	padding-right: 15px;
	color: #fff;
    }
	
	#map img {
	width: 250px;
	height: auto;
	margin-left: 8x;
    }
	
}
